[user]
	email = Blue.Yuan@morningstar.com
	name = Yijun "Blue" Yuan
[color]
	ui = auto
	branch = always
	diff = always
	status = always
[github]
	user = bbbush
[push]
	default = simple
[credential]
	helper = !'c:/cygwin/opt/Git/cmd/git-credential-winstore.exe'
[core]
	autocrlf = true
	ignorecase = true
	filemode = false
	whitespace = trailing-space,space-before-tab
	excludesfile = C:\\Users\\byuan\\Documents\\gitignore_global.txt
[apply]
	whitespace = fix
[gui]
	encoding = utf-8
	fontdiff = -family Consolas -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[alias]
  new = "!_() { git log $1@{1}..$1@{0} \"$@\"; }; _"
  k = "!_() { gitk \"$@\"; }; _"
  psbin = "!_() { \
	if [ -z \"$1\" ]; then \
		echo \"missing remote branch name\"; \
		exit; \
	fi; \
	git fetch psbin; \
	git archive psbin/$1 | tar xf -; \
	git archive psbin/$1.labels | tar xf -; \
	git archive psbin/$1.config | tar xf -; \
	find . -type f -a \\( -name *.dll -o -name *.exe \\) -print0 | \
	xargs -0 chmod +x; \
	}; _"
  addiw = "!_() { \
	git diff -w --no-color \"$@\" | \
	git apply --cached --ignore-whitespace; \
	}; _"
  csproj = "!_() { \
	git diff --name-status \"$@\" | \
		grep -v ^D | \
		grep '[.]\\(csproj\\)\\|\\(svcmap\\)$' | \
		cut -c3- | \
	while read -r f; do \
		if [[ `tail -c2 \"$f\"` = `echo -e '\\r\\n'` ]] ; then \
			echo \"update $f\"; \
			sed 's/\\r//g' \"$f\" | \
			awk '{if (NR>1) printf(\"\\r\\n\"); printf(\"%s\",$0)}' > .tmp~ && \
			mv .tmp~ \"$f\" \
		fi; \
	done; \
	}; _"
